.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #447b91;
  
}
.login_cont {
  width: 666px;
  margin: 0 auto;
  background: gray;
  height: 666px;
}
.login_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: left;
  background: #335d6e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
  
}
.input_container label{
  color: #fff !important;
}
.input_container input {
  height: 35px;
  min-width: 300px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_container button {
  min-width: 300px;
  height: 30px;
  border: 1px solid #2c2c2c;
  background: #fff;
  color: #2c2c2c;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_container button:hover {
  transition: all 0.3s;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
